
Filter : <input (keyup)="filterDatatable($event.target.value)" />
<br/>
  <table class="table table-bordered" >
    <thead>
      <th>categories</th>
    </thead>

    <tbody>
      <tr *ngFor="let cat of categories | tableFilter: filterText">
        <td>{{ cat }}</td>
      </tr>
    </tbody>

  </table>
