<div class="flex-container">
  <div class="div1">
    <input type="text" numbersOnly (change)="inputText($event)"/>
  </div>
  <div class="div2">
    <select (change)="selectOption($event)">
      <option selected value="isPrime">isPrime</option>
      <option  value="isFibonacci">isFibonacci</option>
    </select>
  </div>
  <div class="div3">
    {{result}}
  </div>  
</div>