
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    min-width: 600px;
  }

  .flex-container div {
    min-height: 100vh;
   
  } 
  
 .div1{
     width: 200px;
     border-right:1px solid black;
 }
 .div2{
    min-width: 100px;
    width: 100%;
    border-right:1px solid black;
}
.div3{
    width: 300px;
}

@media only screen and (max-width: 600px) {
    .flex-container {
        overflow-x: auto;
    }
  }